/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  background-size: cover;
  background-attachment: fixed;
  background-image: var(--bg-grad);
  font-family: var(--main-font);
  font-variation-settings: "wght" var(--s-size);
}

.inline-size {
  inline-size: var(--clamp);
}

.header {
  display: flex;
  margin-block-start: 98px;
  margin-block-end: 96px;
  block-size: 372px;
  background-color: var(--basic-color);
  border: 2px solid var(--accent-color);
}

.header-content {
  display: flex;
  inline-size: var(--clamp);
  flex-direction: column;
  align-self: center;
  text-align: center;
  gap: 20px;
  font-family: var(--accent-font);
  text-transform: uppercase;
  font-weight: 400;
}

.header-title {
  font-size: var(--header-title);
}

.header-description {
  font-size: var(--header-subtitle);
}

.main-cards {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.main-cards-card {
  background-color: var(--basic-color);
  border: 2px solid var(--accent-color);
  inline-size: var(--clamp);
}

.main-cards-card-title {
  line-height: 100%;
  letter-spacing: normal;
  font-size: 18px;
  font-variation-settings: "wght" var(--l-size);
  padding: 6px 10px;

}

.main-cards-card-container-image {
  position: relative;
  block-size: clamp(23.3125rem, 16.1602rem + 30.5164vw, 43.625rem);
}

.main-cards-card-container-image-img {
  display: block;
  width: 100%;
  
}

/*  card 2 */
.grayscale-img {
  filter: grayscale(70%);
}

/*  card 3 */
.saturate-img {
  filter: saturate(390%);
}

/*  card 4 */
.brightness-img {
  filter: brightness(30%);
}

/*  card 5 */
.invert-img {
  filter: invert(100%);
}

/*  card 6 */
.hue-rotate-img {
  filter: hue-rotate(0.5turn);
}

/*  card 7 */
.multiple-img {
  filter: sepia(0.6);
  filter: opacity(80%);
}

/*  card 8 */
.contrast-img {
  filter: contrast(200%);
}

.blur-img {
  filter: blur(7px);
}
.main-cards-card-label {
  position: absolute;
  font-family: var(--accent-font);
  font-size: 14px;
  top: 25px;
  right: 25px;
  filter: opacity(50%);
  mix-blend-mode: hard-light;
  -webkit-text-stroke: 1px var(--basic-color);
  text-stroke: 1px var(--basic-color);
}

@supports not (
  (text-stroke: 1px var(--basic-color)) or (-webkit-text-stroke: 1px var(--basic-color))
) {
  .card__label {
    color: var(--accent-color);
    text-shadow: 1px 1px 0 var(--basic-color), -1px -1px 0 var(--basic-color),
      -1px 1px 0 var(--basic-color), 1px -1px 0 var(--basic-color);
  }
}

.main-cards-card-description {
  display: flex;
  flex-direction: column;
  margin: 25px;
  gap: 25px;
}

.main-cards-card-description-text {
  font-size: 18px;
  font-weight: var(--s-size);
  line-height: 21px;
}
/*------------------------------------------------------------*/
/*------------------------------------------------------------*/
.buttons {
  align-self: flex-end;
  display: flex;
  align-items: center;
  gap: 6px;
}

.card__icon-button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid transparent;
  background-color: transparent;
  inline-size: 38px;
  block-size: 38px;
  transition: border 0.3s ease;
}

.like-icon {
  min-inline-size: 39px;
  block-size: auto;
}

.card__like-button {
  block-size: 38px;
  inline-size: 130px;
}

.button__text {
  line-height: 90%;
  font-family: var(--accent-font);
  font-weight: 400;
  font-size: 13px;
  letter-spacing: 1px;
}

.button {
  cursor: pointer;
  position: relative;
  border-style: none;
  overflow: hidden;
  border: 2px solid var(--accent-color);
  background-color: var(--basic-color);
  transition: box-shadow 0.3s ease;
}

.button::before {
  content: "";
  position: absolute;
  background-color: var(--accent-color);
  inset: 0;
  translate: -100% 0%;
  transition: translate 0.5s ease-in-out;
}

.button:hover::before {
  translate: 0% 0%;
}

.button__text {
  mix-blend-mode: difference;
  color: var(--basic-color);
}
/*------------------------------------------------------------*/
/*------------------------------------------------------------*/


.footer-button-save {
  inline-size: 335px;
  block-size: 55px;
  align-self: center;
  margin-block-start: 50px;
  margin-block-end: 100px;
}

.footer-button-save-description {
  font-family: var(--accent-font);
  font-weight: 400;
  font-size: 13px;
  line-height: 90%;
  letter-spacing: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;

}

.footer-button-save-description-image {
  color: var(--basic-color);
  inline-size: 21px;
  block-size: auto;
  mix-blend-mode: difference;
}

.dialog[open] {
  font-family: var(--accent-font);
  display: flex;
  align-items: center;
  justify-content: center;
  inline-size: 353px;
  block-size: 191px;
}

.dialog[open]::backdrop {
  backdrop-filter: brightness(25%);
}

body:has(.dialog[open]) {
  overflow: hidden;
}

.dialog-content[open] {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.dialog-content-text {
  display: flex;
  inline-size: 293px;
  block-size: 63px;
  align-items: center;
  gap: 20px;
}

.floppy-dialog {
  block-size: 39px;
  inline-size: 39px;
}

.dialog-content-text-title {
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  text-transform: uppercase;
}

.dialog-button {
  inline-size: 293px;
  block-size: 38px;
  font-weight: 400;
  margin-block-start: 30px;
}


@media (width <= 426px) {
  .header {
    block-size: 327px;
    max-inline-size: 375px;
    margin-block-start: 100px;
    margin-block-end: 100px;
  }

  .main-cards-card {
    max-inline-size: 375px;
  }

  .button {
    inline-size: 306px;
    block-size: 84px;
  }

  .footer-button-save-description {
    flex-direction: column;
  }

  .main-cards-card-description-buttons-like {
    block-size: 38px;
    inline-size: 130px;
  }

  .footer-button-save-description-image {
    inline-size: 28px;
  }

  .dialog[open] {
    inline-size: 341px;
  }

  .dialog-content-text {
    inline-size: 261px;
  }

  .dialog-button {
    inline-size: 261px;
    block-size: 38px;
  }

}

.button:focus:focus-visible {
  outline: none;
  box-shadow: 2px 2px 0 0 var(--accent-color);
}

.card__icon-button:focus-visible {
  outline: none;
  border: 2px solid var(--accent-color);
}

.contour {
  transition: 0.1s linear 0s;
  transition-property: fill;
}

.like-icon.is-liked .contour {
  fill: var(--animation-fill-color);
  transition: 0.3s linear 0.06s;
}

.main-body {
  transition: 0.3s linear 0s;
}

.like-icon:hover .main-body {
  fill: var(--accent-color);
  transition: 0.3s linear 0.05s;
}
.like-icon:active .main-body {
  fill: var(--animation-fill-color);
  transition: 0.3s linear 0.05s;
}

.like-icon.is-liked .main-body {
  fill: var(--animation-fill-color);
  transition: 0.3s linear 0.05s;
}

.core {
  transition: 0.3s linear 0.03s;
}

.like-icon:hover .core {
  fill: var(--accent-color);
  transition: 0.3s linear 0s;
}

.like-icon:active .core {
  fill: var(--animation-fill-color);
  transition: 0.3s linear 0s;
}

.like-icon.is-liked .core {
  fill: var(--animation-fill-color);
  transition: 0.3s linear 0s;
}

.sparks {
  opacity: 0%;
}

.like-icon.is-liked .heart {
  animation: increase 0.3s ease-in 1;
  animation-delay: 0.1s;
  transform-origin: center;
}

.like-icon.is-liked .sparks {
  animation: sparks 0.3s ease-in 1;
  animation-delay: 0.3s;
}